@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&family=Nunito+Sans:wght@200&family=Outfit&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
    background-image: url(images/bg-pattern-top.svg);
    Font-size: 18px;
    color: hsl(227, 10%, 46%);
}
.card{

    position: fixed;
   top: 50%;
   left: 50%;
   /* bring your own prefixes */
   transform: translate(-50%, -50%);

    width:350px;
    height:420px;
    background-color: white;
   
    border-radius:10px;
}
.card .pattern img{
    border-radius: 5px 5px 0 0 ;
   
}
.card .avatar img{
    
    border-radius:50%;
    position:absolute;
    top:20%;
    left:35%;
    border: 5px solid white;

  
}
.card .profile{
    display:grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    width: 350px;
    height:140px;
    margin-top:50px;
    
}

ul{
    list-style-type: none;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    color:hsl(229, 23%, 23%);
    margin:10px;
    padding:10px;
 

   
   
}

h1{
    color:hsl(229, 23%, 23%);
}
hr{

   color:hsl(227, 10%, 46%);

    
}
span{
    font-size: 17px;
    color:hsl(227, 10%, 46%);
}

@media only screen and (max-width: 1440px) and (max-width:375px) {
    .card {
display: flex; 
flex-direction: column;


}
  }
  

